/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-size: 20px;*/
/*}*/

.grid-container{
    text-align: center;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 5fr ;
}

.grid-item{
    opacity: 1;
    padding: 4px;
    font-size: 16px;
}

.item-1{

}

.item-2{

}

.item-3{

}

body {
    background-image: url("/media/darkbluebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #003399;
    font-family: Galvji, serif;
}

.nav-container{
    width: 100%;
    margin: 4px;
}

form {
    padding: 14px;
    font-family: "Arial", serif;
    font-size: 14px;
}

.container1{
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 50%;
}

.container_image{
    width: 240px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8F7F6F;
}

.animated-grid {
    height: 85vh;
    display: grid;
    gap: 1rem;

    grid-template-areas:
        'a b c d'
        'l ⭐️ ⭐️ e'
        'k ⭐️ ⭐️ f'
        'j i h g';

    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;

    --stagger-delay: 100ms;
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

#img-container{
    opacity: 1;
}

.card {
    background-color: black;
    opacity: 0.4;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
    overflow: hidden;
    border: white solid 1px;

}

.card:nth-child(1) {
    grid-area: a;
    animation-delay: calc(1 * var(--stagger-delay));

}

.card:nth-child(2) {
    grid-area: b;
    animation-delay: calc(2 * var(--stagger-delay));
}

.card:nth-child(3) {
    grid-area: c;
    animation-delay: calc(3 * var(--stagger-delay));
}

.card:nth-child(4) {
    grid-area: d;
    animation-delay: calc(4 * var(--stagger-delay));
}

.card:nth-child(5) {
    grid-area: e;
    animation-delay: calc(5 * var(--stagger-delay));
}

.card:nth-child(6) {
    grid-area: f;
    animation-delay: calc(6 * var(--stagger-delay));
}

.card:nth-child(7) {
    grid-area: g;
    animation-delay: calc(7 * var(--stagger-delay));
}

.card:nth-child(8) {
    grid-area: h;
    animation-delay: calc(8 * var(--stagger-delay));
}

.card:nth-child(9) {
    grid-area: i;
    animation-delay: calc(9 * var(--stagger-delay));
}

.card:nth-child(10) {
    grid-area: j;
    animation-delay: calc(10 * var(--stagger-delay));
}

.card:nth-child(11) {
    grid-area: k;
    animation-delay: calc(11 * var(--stagger-delay));
}

.card:nth-child(12) {
    grid-area: l;
    animation-delay: calc(12 * var(--stagger-delay));
}

.card:last-child {
    grid-area: ⭐️;
    animation-delay: calc(13 * var(--stagger-delay));
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.03);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder {
    color: #e1e1e1;
}

input:hover{
    outline: 2px solid #0001;
}
button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social {
    margin-top: 30px;
    display: flex;
}
.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}
.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);

}
.social .fb {
    margin-left: 25px;
}
.social i {
    margin: 10px 0 4px;
}
